

/* ==========================================================================
   Custom styles
   ========================================================================== */



/* =================================
    Layout
   ================================= */
.no-top-pad {
  padding-top: 0;
}

.q-type-header {
  text-align: center;
}



/* =================================
    Sizes and such
   ================================= */
.stat-button h3 {
  font-size: 18px;
}



/* =================================
    Dev
   ================================= */
.outline {
  border: #000 2pt solid;
}



/* =================================
    Responsive
   ================================= */
@media (min-width: 992px) {
  .stat-button {
    height: 144px;
    padding-top: 20px;
  }

  .q-type-header {
    text-align: right;
    vertical-align: middle;
    display: table-cell;
  }

  .q-type-container {
    height: 144px;
    display: table;
  }
}

@media (min-width: 768px) {
  .stat-button h3 {
    font-size: 24px;
  }
}
