

/* ==========================================================================
   Custom styles
   ========================================================================== */



/* =================================
    Layout
   ================================= */
.no-top-pad {
  padding-top: 0;
}


/* =================================
    Sizes and such
   ================================= */
.stat-button {
  height: 144px;
  width: 144px;
}



/* =================================
    Dev
   ================================= */
.outline {
  border: #000 2pt solid;
}





