<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="includes/AutoLoader.php"
    colors="true"
    printerFile="vendor/whatthejeff/nyancat-phpunit-resultprinter/src/NyanCat/PHPUnit/ResultPrinter.php"
    printerClass="NyanCat\PHPUnit\ResultPrinter">
    <testsuites>
        <testsuite name="Applicatoin Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>